.search-box{
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 1px;
    bottom: 0;
    left: -10%;
    background-color: rgba($color: #fff, $alpha: .6);
    transform: scaleX(2);
    animation: blick 3s infinite ease-in-out;
  }

  &__input{
    color: #fff;
    padding: 15px;
    background: transparent;
    font-size: 26px;
    font-style: italic;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;


    &::focus{
      outline: none;

      .search-box::before{
        animation-play-state: paused;
      }
    }

    &::placeholder{
      color: rgba($color: #fff, $alpha: .5);
      font-style: italic;
    }

    
  }
}

@keyframes blick {
  0%{
    left: -200%;
  }
  100%{
    left: 300%;
  }
}